/*RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  width: 100vw;
}
/*END OF RESET*/

/* IMG, FONT, BUTTON STANDARDS */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

div,
p,
h1,
h2,
h3,
img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 75vw !important;
  margin: auto !important;
}

.row {
  max-width: 100%;
  margin: 0;
}

h1 {
  font-size: 3.8rem;
  font-weight: bold;
  color: #8183c3;
  line-height: 1.3em;
  display: inline-block;
}

h2 {
  font-size: 3.3rem;
  font-weight: bold;
  color: #8183c3;
  line-height: 1.3em;
  display: inline-block;
}

h3 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #8183c3;
  display: inline-block;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
  color: #8183c3;
}

p {
  color: white;
  line-height: 1.5rem;
}

section {
  height: 100%;
}

/*Qui abbiamo alcune classi di UTILITIES generioche e utili appunto un po ovunque */

.main-button {
  background-color: #b5ff93;
  color: #101010;
  padding: 0.9rem 2rem;
  font-weight: bold;
  border: none;
}

.secondary-button {
  background-color: #171717;
  color: #b5ff93;
  padding: calc(0.9rem - 2px) calc(2rem - 2px);
  font-weight: bold;
  border: solid 2px #b5ff93;
}

button:focus {
  outline: thin dotted;
}

.centered-text {
  text-align: center !important;
}

.nodisplay {
  display: none;
}

.only-mobile-display {
  display: none;
}

.only-tablet-display {
  display: none;
}

.col-padding-pareggiator {
  padding-left: 15px;
  padding-right: 15px;
}

.dark-bkgr {
  background-color: #101010;
}

.purple-bkgr {
  background-color: #8183c3;
}

.purple-span {
  color: #8183c3;
}

.purple-link{
  color: #8183c3;
  text-decoration: underline;
}

.white-span {
  color: white;
}

.green-span {
  color: #b5ff93;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 100vh !important;
    padding: 0 2rem;
  }

  h1 {
    font-size: 3.3rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.3rem;
  }
  h4 {
    font-size: 1.8rem;
  }

  .centered-text-m {
    text-align: center !important;
  }
  .nodisplay-m {
    display: none;
  }

  .only-tablet-display {
    display: block !important;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.3rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }

  .centered-text-s {
    text-align: center !important;
  }

  .nodisplay-s {
    display: none;
  }

  .only-mobile-display {
    display: block;
  }
}

/*NAVBAR/HEADER STYLES*/

header {
  position: absolute;
  top: 0;
}

a.navbar-brand {
  max-width: 96px;
  max-height: 96px;
}

nav.navbar {
  width: 75vw;
  margin: auto;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 12.5vw;
  right: 12.5vw;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

div.navbar-collapse.collapsing {
  background-color: #8183c3;
}

div.navbar-collapse.show {
  background-color: #8183c3;
}

.expanded-nav-item {
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
  background-color: #8183c3;
}

#navbarDropdown::after {
  color: #b5ff93;
}

.arrow-drop::after {
  display: none;
}

.expanded-nav-link {
  color: #101010 !important;
}

img.burger-icon {
  height: 3em;
  width: 3em;
}

.dropdown {
  border: none !important;
}

ul.navbar-nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

ul.navbar-nav li {
  padding: 0.5em;
}
div.dropdown-menu {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: none !important;
}

div.dropdown-menu a {
  padding-bottom: 1em;
  padding-left: 1em;
}

@media screen and (max-width: 992px) {
  nav.navbar {
    width: 100vw;
    left: 0;
  }
  .navbar-brand {
    margin: 0;
  }
  .navbar-toggler {
    margin: 0;
  }
  a.navbar-brand {
    max-width: 70px;
    max-height: 70px;
    z-index: 1;
    margin-left: 1em;
  }
  #collapse-button {
    padding-right: 1em;
  }

  div.dropdown-menu {
    background-color: #8183c3;
  }

  div.dropdown-menu a {
    padding-bottom: 0em;
    padding-left: 0em;
  }

  .expanded-nav-subitem {
    font-size: 1.4em !important;
    font-weight: bold;
    text-align: center;
    padding: 0.2em;
    color: #101010 !important;
  }

  .expanded-nav-item {
    font-size: 1.8em;
    padding: 0.2em !important;
  }
}

@media screen and (max-width: 576px) {
  img.burger-icon {
    height: 2.2em;
    width: 2.2em;
  }
  a.navbar-brand {
    margin-left: 0em;
    max-width: 60px;
    max-height: 60px;
  }
  #collapse-button {
    padding-right: 0em;
  }
}

/*HOME STYLES and MAIN STYLES*/

/*ASTRONAUTA SECTION*/

/*sfondo*/

#astronauta-section-home {
  width: 100vw;
  min-height: 100vh;
  background: url("img/index_img/bg-home.jpg");
  position: relative;
}

/*colonna di sinistra(testo)*/

.first-home-textbox {
  position: relative;
  top: 25vh;
}

.under-title-text {
  padding: 2rem 6rem 0 0;
}

.first-home-textbox button {
  margin: 2rem 0;
}

/* colonna di destra */

.astronauta {
  position: relative;
  top: 25vh;
}

/*aggeggino dello scroll :)*/
.scroll-icon-div {
  position: absolute;
  top: 85%;
  text-align: center;
  width: 75vw;
}

.scroll-icon {
  width: 140px;
  height: 90px;
}

/*JOINUS SECTION*/

/*sistremiamo lo sfondo*/

#joinus-section-home {
  background: url("img/index_img/eventi-home.jpg") no-repeat right;
  min-height: 80vh;
}

/*creo una classe per il box di testo e gestisco i suoi figli*/
.secondary-text-box {
  padding-right: 6rem;
}

.secondary-text-box p {
  padding: 2rem 2rem 0 0;
}

.secondary-text-box button {
  margin: 2rem 2rem 0 0;
}

/*HOME SLIDER NEXT EVEWNT SECTION*/
#home-nextevent-section {
  overflow-x: hidden;
  overflow-y: hidden;
}

.carousel-container {
  position: relative;
  height: 600px;
  margin: 2rem 0;
}

.triggerPrev {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 18vh;
  height: 600px;
}

.triggerNext {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 18vh;
  height: 600px;
}

.list {
  height: 600px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.list li {
  list-style-type: none;
  width: 60vw;
  height: 600px;
  position: absolute;
  left: 50%;
  border-radius: 2px;
  background: #171717;
  transition: transform 1s, opacity 1s;
}

.list .act {
  opacity: 1;
}

.list .prev,
.list .next {
  cursor: pointer;
}

.list .prev {
  transform: translateX(-65vw) scale(0.85);
}

.list .next {
  transform: translateX(65vw) scale(0.85);
}

.list .hide {
  transform: translateX(-420px) scale(0.85);
}

.list .new-next {
  transform: translateX(420px) scale(0.85);
}

.list .hide,
.list .new-next {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.carousel-img {
  object-fit: cover;
  height: 100%;
  padding: 2rem 0;
  background-color: #101010;
}

.text-container-carousel {
  padding: 10% 5%;
}

.event-home-icon {
  height: 2rem;
  display: inline;
  margin-right: 1rem;
  position: relative;
  top: 0.5rem;
}

/*gli stili per i puntini sotto lo slider*/
.slider-dot-div {
  margin: auto;
  display: flex;
  direction: column;
  width: 75px;
}

.slider-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f5f5f5;
  margin: 0 5px 5px 5px;
}

.centralDot {
  opacity: 0.5;
}

/*HELP US SECTION*/

#home-help-us-section {
  background: url("img/index_img/sostienici-background.jpg") no-repeat;
  padding: 4rem 0;
  background-size: cover;
}

.helpus-overlay {
  height: 70vh;
  width: 100vw;
  background-color: rgba(16, 16, 16, 0.5);
  position: absolute;
}

/*direi che per lacasella di testo dobbiamo adottare un'altra classe con padding appsiti*/

.helpus-textbox {
  float: right;
  width: 80%;
  padding-top: 10rem;
}
.helpus-textbox p {
  padding-top: 2rem;
}
.helpus-textbox .main-button {
  margin: 2rem 2rem 0 0;
}
.helpus-textbox .secondary-button {
  margin: 2rem 0 0 0;
}

/*Media Queries home tablet*/

@media screen and (max-width: 992px) {
  /*togliamo lo spazio in eccesso sopra il titolo,
    e spostiamo a sinistra e rimpiccioliamo l'astronauta
    */
  .first-home-textbox {
    top: 17vh;
  }
  .astronauta {
    position: relative;
    top: 10vh;
    left: 25vw;
    width: 65%;
  }

  /* voglio anche lo sfondo spostato in modo che si vedano le stelline*/
  #astronauta-section-home {
    background-position: -100% 0;
  }

  /*nella sezione events voglio adesso il background centrato e leggermente più in basso forse anche più piccolo */
  #joinus-section-home {
    background-size: contain;
    background-position: 0 20vh;
    min-height: 70vh;
  }

  /*Sistrremiamo gli stili del carosello*/
  .list li,
  .triggerNext,
  .triggerPrev {
    display: none;
  }

  .list {
    left: 0;
    height: 550px;
  }

  .list li.act {
    display: block;
    width: calc(100vw - 2rem);
    height: 550px;
    left: 0;
    margin: 0 1rem;
  }

  .carousel-container {
    height: 550px;
  }

  /*voglio anche cambiare i padding della textbox di helpus section*/
  .helpus-textbox {
    float: none;
    width: 100%;
    padding-top: 0rem;
  }

  /*anche lo sfondo va ricentrato esistrremato overlay*/

  #home-help-us-section {
    background-position: 0 30%;
  }
  .helpus-overlay {
    height: 33vh;
  }
}

/*Media Queries home mobile*/

@media screen and (max-width: 576px) {

  /*su mobile tolgo il padding ai container per avere più spazio*/
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  /*Il testo sotto il titolo qui lo vogliamo full width, quindi togliamo i padding*/
  .under-title-text {
    padding: 2rem 0 0 0;
  }
  /*anche il secondo box di testo lo vogliamo full width*/
  .secondary-text-box {
    padding-right: 15px;
    padding-top: 2rem;
  }
  .secondary-text-box p {
    padding-top: 2rem;
    padding-right: 0;
  }
  /*lo sfondo joinus section non lo vogliamo*/
  #joinus-section-home {
    background: none;
  }
  /*togliamo i margini ormai superflui al button che è centrato*/
  .secondary-text-box button {
    margin: 2rem 0;
  }

  #home-help-us-section {
    padding-top: 0;
  }

  /*Anche qui sistrremi gli stili del carosello*/
  .list {
    height: 600px;
  }

  .list li.act {
    height: 600px;
  }

  .carousel-container {
    height: 600px;
  }

  /*sistrremo i bottoni di helpus*/
  .helpus-textbox .main-button {
    float: left;
    margin: 2rem 0 0 0;
  }
  .helpus-textbox .secondary-button {
    float: right;
    margin: 2rem 0 0 0;
  }
  /*il bkgr e l'overlay*/
  .helpus-overlay {
    height: 85vh;
  }

  /*vogliamo che la prima sezione sia un po meno di 100vh per adattarsi al conteuto se vogliamo essere pignoli */
  #astronauta-section-home {
    min-height: 90vh;
  }

  .slider-dot {
    width: 10px;
    height: 10px;
    margin-bottom: 20px;
  }
}

/*Passiamo adesso agli stili della pagina CHI SIAMO e le rispettive MQ*/

#chi-siamo-section-header {
  background: url("img/chi-siamo_img//header-about.png") no-repeat;
  width: 100vw;
  height: 80vh;
}

/*spostiamo un po più in basso direttamente il container dell'header*/

#chi-siamo-section-header .container {
  position: relative;
  top: 15vh;
}

/*l'immagine è troppo grande*/

.moon-img {
  width: 75%;
}

/*Sistrremiamo adesso la formattazione del testo dell'header*/

.chi-siamo-header-textbox p {
  padding-top: 2rem;
}

.chi-siamo-header-textbox {
  width: 80%;
  position: relative;
  top: 10%;
  left: 10%;
}

/*Adesso facciamo le sezioni successive: what we do e how we do
userrremo le stesse classi dove possibile:*/

#what-we-do-section {
  padding: 2rem 0;
  height: 75vh;
}

#how-we-do-section {
  padding: 2rem 0;
  height: 75vh;
}

#what-we-do-section .container {
  position: relative;
  padding: 0 6rem;
  height: 100%;
}

#how-we-do-section .container {
  position: relative;
  padding: 0 6rem;
  height: 100%;
}

.img-what {
  position: absolute;
  width: 58%;
}

.img-what img {
  object-fit: cover;
  height: 100%;
}

.what-we-do-textbox {
  background-color: #151515;
  padding: 2rem;
  position: relative;
  top: 20%;
}

.what-we-do-textbox p {
  padding-top: 2rem;
}

/*passiamo adesso alla sezione consci il nostro team*/

#team-section {
  padding: 2rem 0;
}

/*centriamo il div di intro e diamogli una larghezza del 50%*/
.conosci {
  width: 40%;
  margin: auto;
}

.conosci p {
  padding-top: 2rem;
}

/*adesso ci occupiamo delle cards si ogni mrrrembro del team*/

.team-card {
  margin: auto;
}

.team-card h3 {
  padding-top: 2rem;
}

.team-card h4 {
  padding-top: 1rem;
}
.team-card a {
  padding-top: 2rem;
  display: inline-block;
}

/*Passiamo adesso alla sezione statuto*/
#statuto {
  background: url("img/chi-siamo_img/luna-background.jpg") no-repeat;
  padding: 8rem 0;
}

.statuto-div {
  background: url("img/chi-siamo_img/statuto.jpg") no-repeat;
  padding: 9rem 0 3rem 8rem;
}
.statuto-div p {
  padding: 2rem 0;
}

@media screen and (max-width: 992px) {
  /*su tablet la luna sparisce e il testo diventa fuull w, resettiamo la sua posizione*/
  .chi-siamo-header-textbox {
    top: 0;
    left: 0;
  }

  /*anche la sezione non è necessario che sia così grande*/
  #chi-siamo-section-header {
    height: 50vh;
  }

  /*sistemiamo adesso il cosa facciamo e il come lo facciamo*/

  .img-what {
    width: 100vw !important;
  }
  #what-we-do-section .container {
    padding: 0 0;
  }

  #how-we-do-section .container {
    padding: 0 0;
  }

  .what-we-do-textbox {
    margin: 0 6rem;
  }

  /*Conosci qua pò essere messo full width*/
  .conosci {
    width: 100%;
    padding: 15px;
  }

  /*nella sezione statuto lo sfondo non si deve vedere e devono esserci dei padding laterali*/
  #statuto {
    background: none;
    padding: 6rem 15px;
  }
  /*Inoltre il contenuto di statuto-div è più centrato*/

  .statuto-div {
    padding: 5rem 0 5rem 3rem;
  }
}

@media screen and (max-width: 576px) {
  /*su mobile invece la sezione deve essere più grande per contenere tutto il testo e il testo deveessere full*/

  .chi-siamo-header-textbox {
    width: 100%;
  }

  #chi-siamo-section-header {
    height: 100vh;
  }

  /*cosa e come lo facciamo su mobile*/
  .what-we-do-textbox {
    margin: 0 15px;
  }

  .what-we-do-textbox {
    top: 2rem;
  }

  .img-what {
    height: 125vh;
  }

  #what-we-do-section {
    height: 125vh;
  }

  #how-we-do-section {
    height: 135vh;
  }

  #how-we-do-section div .img-what {
    height: 135vh;
  }

  /*Diamo una sistematina anche alla versione mobile di statuto*/

  .statuto-div {
    padding: 2rem 15px 2rem 15px;
  }

  /*in realtà ora che vedo vanno sistemati anche i padding di statuto*/
  #statuto {
    padding: 3rem 15px;
  }
}

/*PASSIAMO  ADESSO ALLA PAGINA EVENTI*/

/*Gli stili dell'header*/
#header-eventi {
  width: 100%;
  height: 80vh;
  background: url("img/eventi_img/Header-eventi.jpg");
}

#header-eventi .container {
  position: relative;
  top: 25vh;
}

.eventi-header-textbox p {
  padding-top: 2rem;
}

/*ora passiamo alle cards, utilizzeremo quelle di bootstrap e ci metteremo più tempo a sistemarle di quanto non ce ne avremmo messo a farle da 0 :)*/

#eventi-cards {
  padding: 3rem 0 0 0;
}

#eventi-cards .container .col-lg-4.col-sm-6 {
  padding: 2rem 15px;
}

.card {
  border-radius: none;
  background-color: #171717;
}

.card-body {
  padding: 0 3rem;
}

.card-body h4 {
  padding-top: 2rem;
}

.card-body p {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card-body button {
  margin-bottom: 2rem;
}

/*Adesso facciamo la sezione della newsletter*/

#newsletter {
  background: url("img/chi-siamo_img/luna-background.jpg");
  padding: 8rem 0;
}

.newsletter-div {
  background: url("img/eventi_img/newsletter.jpg") no-repeat;
  padding: 8rem 8rem 4rem;
}

.newsletter-div h2 {
  padding-bottom: 2rem;
}

.newsletter-div h4 {
  padding: 0 0 1rem 0;
}

.newsletter-form input {
  padding: 0.5rem 1rem;
  width: 60%;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #e9e9e9;
}

@media screen and (max-width: 992px) {
  /*sistemiamo un po l'header su tablet*/

  #header-eventi .container {
    top: 15vh;
  }

  #header-eventi {
    background-position: -80% -300%;
  }

  /*newlettere styles x tablet*/

  #newsletter {
    background: none;
    padding: 6rem 15px;
  }
  /*Inoltre il contenuto di nws-div è più centrato*/

  .newsletter-div {
    padding: 5rem 0 5rem 3rem;
  }
}

@media screen and (max-width: 576px) {
  .newsletter-div {
    padding: 2rem 15px 2rem 15px;
  }

  #newsletter {
    padding: 3rem 15px;
  }

  .newsletter-form input {
    width: 100%;
  }

  .newsletter-form button {
    margin-top: 2rem;
  }

  .card-body {
    padding: 0 15px;
  }
}

/*PASSIAMO  ADESSO ALLA PAGINA ARCHIVIO*/

#header-archivio {
  background: url("img/archivio-img/Header-archivio.jpg") no-repeat;
  width: 100vw;
  height: 80vh;
}

#header-archivio .container {
  position: relative;
  top: 20vh;
}

.archivio-header-textbox p {
  padding-top: 2rem;
}

/*passiamo adesso alla sezione degli anni */

#eventi-first {
  padding: 6rem 0 3rem 0;
}

#eventi-first .container .col-lg-3 {
  top: 200px;
}

#eventi-first .container {
  position: relative;
}

/*purtroppo qua ho dovuto creare 6 classi di overlay per far triggerare correttamente l'hover. con lo stesso nome veniva tutto un po buggato*/
.years-overlay {
  position: absolute;
  z-index: 2;
  width: 335px;
  height: 335px;
  background-color: rgba(16, 16, 16, 0.6);
}

.my-grid-container {
  display: grid;
  grid-template-columns: 335px 335px 335px;
  grid-template-rows: 335px 335px;
  column-gap: 2rem;
  row-gap: 2rem;
}

.year-textbox {
  padding: 180px 4rem 2rem 2rem;
}

.click-here-event {
  font-size: 18px;
  font-weight: bold;
  padding-top: 1rrrem;
}

.years-overlay:hover {
  opacity: 0;
}

.year1 {
  background: url("img/archivio-img/pianeti1.png") no-repeat;
  background-size: contain;
  grid-column: 1/2;
  grid-row: 1/2;
}
.year2 {
  background: url("img/archivio-img/pianeti2.png") no-repeat;
  background-size: contain;
  grid-column: 2/3;
  grid-row: 1/2;
}
.year3 {
  background: url("img/archivio-img/pianeti3.png") no-repeat;
  background-size: contain;
  grid-column: 3/4;
  grid-row: 1/2;
}
.year4 {
  background: url("img/archivio-img/pianeti4.png") no-repeat;
  background-size: contain;
  grid-column: 1/2;
  grid-row: 2/3;
}
.year5 {
  background: url("img/archivio-img/pianeti5.png") no-repeat;
  background-size: contain;
  grid-column: 2/3;
  grid-row: 2/3;
}
.year6 {
  background: url("img/archivio-img/pianeti6.png") no-repeat;
  background-size: contain;
  grid-column: 3/4;
  grid-row: 2/3;
}

/*Pagina CONTATTI*/

#header-contatti .container {
  position: relative;
  top: 15vh;
  height: 80vh;
}

/*Gli stili per il form*/

.contact-form label {
  font-weight: bold;
  padding: 1.5rem 0 0.8rem 0;
}

.contact-form input,
.contact-form textarea {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  padding: 0.5rem 1rem;
  width: 100%;
}

.contact-form button {
  margin-top: 2rem;
}

/*mettiamo l'immagine dell'header un po più in alto per far entrare le scritte sotto*/

#header-contatti > div > div > img {
  position: relative;
  top: -7vh;
}

/*sistemiamo ora le scrittine sotto e relative icone (qua mancano le icone)*/

.contactinfo-box {
  position: relative;
  top: -13vh;
  width: 50%;
  margin: auto;
}

.contactinfo-box img {
  display: inline;
}

/*la mappa */

/*6 ore per trovare sto problema..*/
#map div,
#map p,
#map h1,
#map h2,
#map h3,
#map img {
  max-width: none;
  max-height: none;
}

@media screen and (max-width: 992px) {
  #header-contatti {
    height: 100vh;
  }

  #header-contatti div .col-lg-4 {
    position: relative;
    top: -7vh;
    width: 80%;
  }

  /*dobbiamo sistemare il box dei contatti in modo diverso (anche qui mancano le immagini obv)*/
  .contact-tablet {
    background-color: #8183c3;
    display: none;
    padding: 5em 0 6em 0;
  }

  .contactinfo-box-t {
    width: 60%;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  #header-contatti {
    height: 110vh;
  }

  #header-contatti div .col-lg-4 {
    top: 0;
    width: 100%;
  }
}

/*PAGINA DIVENTA SOCIO*/

/*sistemiamo un po l'header*/

#header-sostienici {
  height: 95vh;
  background: url("img/diventa-socio_img/header-sostienici.jpg") no-repeat;
}

#header-sostienici .container {
  position: relative;
  top: 15vh;
}

#header-sostienici .container h2 {
  padding-bottom: 2rem;
}

#header-sostienici .container .row .col-lg-4 {
  position: relative;
  top: -8rem;
}

#header-sostienici .container .row div img {
  padding-bottom: 2rem;
}

/*passiamo adesso alla sezione tipologie di socio */

#tipologie-socio {
  background: url("img/diventa-socio_img/astronauta-soci.jpg") no-repeat;
  padding: 3rem 0 3rem 0;
}

#tipologie-socio > .container > p {
  padding: 2rem 0 2rem 0;
  width: 50%;
}

.socio-type {
  padding: 2rem 2rem 2rem 2rem;
}
.socio-type h4 {
  padding: 1rem 0;
}

/*sezione Come diventare socio*/

#how-socio-section {
  padding: 6em 0 3em 0;
}


#how-socio-section > p {
  width: 40%;
  padding: 2rem 0;
}


.step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.how-socio-img {
  position: absolute;
  left: 50%;
  z-index: -1;
}

.step-container > div {
  margin: 2em 0;
}

.step-snippet {
  position: relative;
  left: 2rem;
  top: 1rem;
  padding: 2em;
  background-color: #151515;
}

.step-snippet{
  font-size: 20px;
}

.big-number {
  font-size: 10rem;
  font-weight: bold;
  line-height: 1em;
  display: inline;
  position: absolute;
  left: -1rem;
  z-index: 1;
}

/*HOW-RINNOVARE-SECTION*/

#how-rinnovare-section {
  padding:10rem 0 3rem 0;
}

.rinnovo-nebulosa{
  position:absolute;  
  z-index: -1;

}

.rinnovo-text {
  padding:180px 0 220px 0;
}

.rinnovo-text p{
  padding:2em 0;
}

/*Payment section*/

#payment-section {
  background: url("img/chi-siamo_img/luna-background.jpg") no-repeat;
  padding: 3rem 0 8rem 0;
}

.payment-div {
  background: url("img/diventa-socio_img/meotodo-pagamento-aurora.jpg") no-repeat;
  padding: 3rem 0 3rem 8rem;
}
.payment-div p {
  padding: 2rem 0 0 0;
}

@media screen and (max-width: 992px) {
  /*aggiustamenti dell'header*/
  #header-sostienici {
    height: 165vh;
  }
  #header-sostienici .container .row .col-lg-4 {
    top: 0;
    padding: 4rem 15px 4rem 15px;
  }

  #header-sostienici .container .row div img {
    width: 100%;
  }


  #tipologie-socio {
    background: none;
    padding: 3rem 0 3rem 0;
  }
  
  #tipologie-socio > .container > p {
    width: 100%;
    padding: 15px;
  }

  /*come diventare socio*/

  #how-socio-section{
    padding:15px;
  }

  #how-socio-section > p{
    width:100%;
  }

  .how-socio-img{
    left:0;
  }

  .big-number{
    font-size:8rem;
  }

  .step-snippet{
    left:0.5rem;
    top:0;
  }

  #payment-section {
    background: none;
    padding: 3rem 15px;
  }
  /*come rinnovare*/
  .rinnovo-text {
    padding:0 0 0 0;
  }

  .payment-div {
    padding: 5rem 0 5rem 3rem;
  }

  #how-rinnovare-section {
    padding:6rem 0 0rem 0;
  }
}

@media screen and (max-width: 576px) {
  /*aggiustamenti dell'header*/
  #header-sostienici {
    height: 105vh;
  }

  #header-sostienici .container .row .col-lg-4 {
    top: 0;
    padding: 2rem 15px 2rem 15px;
  }
  .big-number{
    display: block;
    position:relative;
    line-height: 1rem !important;
    left: 0 !important;
    bottom:0.5rem;
  }

  .step-container{
    padding:0;
  }

  .step-snippet{
    left:0;
    padding:2.5rem 1rem;
    font-size:16px;
  }

  #how-rinnovare-section {
    padding:2rem 0 0rem 0;
  }

  .payment-div {
    padding: 2rem 15px 2rem 15px;
  }


  /*in realtà ora che vedo vanno sistemati anche i padding di statuto*/
  #payment-section {
    padding: 3rem 15px;
  }
}

/*FOOTER STYLES*/

div.footer-section {
  padding: 2rem;
  padding-top: 0;
}

footer.footer {
  background-color: #070707;
  max-width: 100vw;
  padding-bottom: 2rem;
}

.footer-logo {
  max-width: 130px;
  max-height: 164px;
  display: block;
  padding-top: 2rem;
  padding-left: 2rem;
}

p.footer-description {
  padding-top: 3rem;
}

button.footer-dona-button {
  margin-top: 2rem;
}

p.footer-contact-text {
  padding: 2rem 0;
}

a.policy-link {
  color: #8183c3;
  font-weight: bold;
  text-decoration: underline;
}

div.footer-social-container {
  width: 80%;
  display: flex;
  overflow: auto;
  direction: row;
  padding: 3rem 0;
  justify-content: space-around;
}

div.footer-social {
  border-radius: 50%;
  background-color: #1a1a1a;
  width: 60px;
  height: 60px;
}

.social-icon {
  z-index: 1;
  width: 55%;
  height: 55%;
  margin: 22.5%;
}

.form-container-footer {
  width: 90%;
}

input.news-input-footer {
  background-color: #1a1a1a;
  color: #929292;
  border: none;
  padding: 1.1rem 0.5rem;
  width: 82%;
  display: inline-block;
}

button.submit-newsletter {
  background-color: #b5ff93;
  border: none;
  height: 3.5rem;
  width: 18%;
  float: right;
  border: none;
}

img.arrow-news {
  height: 100%;
  width: 100%;
}

.policy-link-mobile {
  display: none;
}

.footer .container .row {
  border-bottom: solid 2px #717171;
  padding-bottom: 2rem;
}

@media screen and (max-width: 992px) {
  .footer-section div {
    text-align: center;
    margin: auto;
  }

  .footer-section {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
  }

  .policy-link {
    display: none;
  }

  .policy-link-mobile {
    display: inline-block;
    color: #8183c3;
    font-weight: bold;
    text-decoration: underline;
  }

  div.footer-social-container {
    width: 50%;
  }

  .form-container-footer {
    width: 52%;
  }
}

@media screen and (max-width: 440px) {
  div.footer-social {
    width: 50px;
    height: 50px;
  }
  div.footer-social-container {
    padding: 2rem 0;
  }

  div.footer-social-container {
    width: 80%;
  }

  .form-container-footer {
    width: 80%;
  }

  input.news-input-footer {
    padding: 0.6rem 0.5rem;
    width: 82%;
    display: inline-block;
  }

  button.submit-newsletter {
    height: 2.6rem;
    width: 18%;
  }
}
/*INIZIO GALLERY*/
#startingsection {
  width: 100vw;
  min-height: 70vh;
  position: relative;
}
.rowgallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  max-width: 80%;
  justify-content: space-around;
  margin-left: 10%;
}
.columngallery {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.columngallery img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}*/
